<div class="page-inner">
  <header class="page-title-bar">
    <div class="d-flex flex-column flex-md-row">
      <p class="lead">
        <app-page-header [heading]="'Create form template'"></app-page-header>
      </p>
      <div class="ml-auto">
        <button type="button" class="btn btn-sm btn-success">
          <i class="fa fa-save"></i> Save template
        </button>
      </div>
    </div>
  </header>

  <div class="listview">
    <div class="row">
      <div class="col-12 form-template-content">
        <app-form-template-item></app-form-template-item>
      </div>
    </div>
  </div>
</div>