.spacing-8.row {
  margin-left: -4px;
  margin-right: -4px;
  height: 100%;
  border-right: 1px solid #dfe6ea;
  padding: 15px;
}

.spacing-8.row>.col, .spacing-8.row>[class*="col-"] {
  padding-right: 4px;
  padding-left: 4px;
}

.control-item {
  margin-bottom: 15px;
  overflow: hidden;
  font-size: .785rem;
  height: 60px;
}

@media (min-width: 992px) {
  .col-lg-1-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.control-item .control-item-inner {
  border: 1px solid #dcdcdc;
  overflow: hidden;
  height: 100%;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  flex: 1 1 auto;
  padding: 12px 0;
  cursor: move;
}

.control-item .control-item-inner:hover {
  border: 2px solid #28a745;
}

i.control-icon {
  display: block;
  margin-bottom: 3px;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}